<div class="table-visualization"> 
    <div class="table-vis-overflow-container">
        <br>
        <table>
            <thead>
                <tr>
                    <th class="fixed-table-header"
                    ng-disabled="!panel.allowSorting"
                    ng-repeat="column in panel.columns"> 
                    <div contenteditable ng-bind-html="panel.columnNames[column[0]]"></div>
                </th>
                <th ng-if="totalRowsChecked">
                    <div>Total</div>
                </th>
                <th ng-if="averageRowsChecked">
                    <div>Average</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in panel.rows">
                <td ng-repeat="column in panel.columns">

                    <b><div align="center" ng-if="column == 0"contenteditable ng-bind-html="panel.rowNames[row[0]]"></div></b>

                    <div bind-html-compile="tableData"></div>

                </td>
                <td ng-if="totalRowsChecked" >
                    <div bind-html-compile="rowTotal"></div>
                </td>

                <td ng-if="averageRowsChecked" >
                    <div bind-html-compile="rowAverage"></div>
                </td>
            </tr>
        </tbody>

        
        <tfoot >
            <tr ng-if="totalColumnsChecked">
                <th ng-repeat="column in panel.columns">
                    <div ng-if="column == 0"> Total </div>
                    <div ng-if="column != 0" bind-html-compile="total"></div>
                </th>
            </tr>

            <tr ng-if="averageColumnsChecked">
                <th ng-repeat="column in panel.columns">
                    <div ng-if="column == 0"> Average </div>
                    <div ng-if="column != 0" bind-html-compile="average"></div>
                </th>
            </tr>
        </tfoot>


    </table>
    <br>

    <div align="center" ng-hide="!editMode">
        <label>Display Total Columns: 
            <input type="checkbox" ng-model="totalColumnsChecked" align="center">
        </label>
         <label>Display Total Rows: 
            <input type="checkbox" ng-model="totalRowsChecked" align="center">
        </label>
         <label>Display Average Columns: 
            <input type="checkbox" ng-model="averageColumnsChecked" align="center">
        </label>
         <label>Display Average Rows: 
            <input type="checkbox" ng-model="averageRowsChecked" align="center">
        </label>
    </div>



    <div align="center" ng-if="editMode">
        <br>
        <input type="number" placeholder="rows" ng-model="panel.numberOfRows" min="0" max="99" ng-change="updateRows()" required>
        <input type="number" placeholder="columns" ng-model="panel.numberOfColumns" min="0" max="99" ng-change="updateColumns()" required>
    </div>

</div>
</div>
